[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/sammy/lasd/wonderland
ExecStart=/home/sammy/lasd/wonderland/myprojectenv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          wonderland.wsgi:application

[Install]
WantedBy=multi-user.target
